<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2" 
  xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" 
  xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" 
  xmlns:ccts="urn:un:unece:uncefact:documentation:2" 
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#" 
  xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" 
  xmlns:sts="dian:gov:co:facturaelectronica:Structures-2-1" 
  xmlns:xades="http://uri.etsi.org/01903/v1.3.2#" 
  xmlns:xades141="http://uri.etsi.org/01903/v1.4.1#" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2 http://docs.oasis-open.org/ubl/os-UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd">
  <ext:UBLExtensions>
    <ext:UBLExtension>
      <ext:ExtensionContent>{{template "dian_extensions" .}}</ext:ExtensionContent>
    </ext:UBLExtension>
    <ext:UBLExtension>
      <ext:ExtensionContent></ext:ExtensionContent>
    </ext:UBLExtension>
  </ext:UBLExtensions>
  <cbc:UBLVersionID>UBL 2.1</cbc:UBLVersionID>
  <cbc:CustomizationID>05</cbc:CustomizationID>
  <cbc:ProfileID>DIAN 2.1: Documento Soporte</cbc:ProfileID>
  <cbc:ProfileExecutionID>{{.ProfileExecutionID}}</cbc:ProfileExecutionID>
  <cbc:ID>{{.SupportDocNumber}}</cbc:ID>
  <cbc:UUID schemeName="CUDS-SHA384">{{.CUDS}}</cbc:UUID>
  <cbc:IssueDate>{{.IssueDate}}</cbc:IssueDate>
  <cbc:IssueTime>{{.IssueTime}}</cbc:IssueTime>
  <cbc:InvoiceTypeCode>{{.DocumentTypeCode}}</cbc:InvoiceTypeCode>
  {{range .Notes}}<cbc:Note>{{.}}</cbc:Note>
  {{end}}<cbc:DocumentCurrencyCode listAgencyID="6" listAgencyName="United Nations Economic Commission for Europe" listID="ISO 4217 Alpha">{{.CurrencyCode}}</cbc:DocumentCurrencyCode>
  <cbc:LineCountNumeric>{{.LineCount}}</cbc:LineCountNumeric>
  {{range .BillingReferences}}{{template "billing_reference" .}}
  {{end}}{{template "supplier" .Buyer}}
  {{template "customer" .Supplier}}
  {{range .TaxTotals}}{{template "tax_total" .}}
  {{end}}{{range .WithholdingTaxTotals}}<cac:WithholdingTaxTotal>
    <cbc:TaxAmount currencyID="{{.CurrencyID}}">{{.TaxAmount}}</cbc:TaxAmount>
    {{range .TaxSubtotals}}<cac:TaxSubtotal>
      <cbc:TaxableAmount currencyID="{{.CurrencyID}}">{{.TaxableAmount}}</cbc:TaxableAmount>
      <cbc:TaxAmount currencyID="{{.CurrencyID}}">{{.TaxAmount}}</cbc:TaxAmount>
      <cac:TaxCategory>
        <cbc:Percent>{{.Percent}}</cbc:Percent>
        <cac:TaxScheme>
          <cbc:ID>{{.TaxCategory.ID}}</cbc:ID>
          <cbc:Name>{{.TaxCategory.Name}}</cbc:Name>
        </cac:TaxScheme>
      </cac:TaxCategory>
    </cac:TaxSubtotal>
    {{end}}</cac:WithholdingTaxTotal>
  {{end}}<cac:LegalMonetaryTotal>
    <cbc:LineExtensionAmount currencyID="{{.CurrencyCode}}">{{.LineExtensionAmount}}</cbc:LineExtensionAmount>
    <cbc:TaxExclusiveAmount currencyID="{{.CurrencyCode}}">{{.TaxExclusiveAmount}}</cbc:TaxExclusiveAmount>
    <cbc:TaxInclusiveAmount currencyID="{{.CurrencyCode}}">{{.TaxInclusiveAmount}}</cbc:TaxInclusiveAmount>
    {{if .AllowanceTotalAmount}}<cbc:AllowanceTotalAmount currencyID="{{.CurrencyCode}}">{{.AllowanceTotalAmount}}</cbc:AllowanceTotalAmount>
    {{end}}{{if .ChargeTotalAmount}}<cbc:ChargeTotalAmount currencyID="{{.CurrencyCode}}">{{.ChargeTotalAmount}}</cbc:ChargeTotalAmount>
    {{end}}<cbc:PayableAmount currencyID="{{.CurrencyCode}}">{{.PayableAmount}}</cbc:PayableAmount>
  </cac:LegalMonetaryTotal>
  {{range .SupportDocumentLines}}{{template "supportdocument_line" .}}
  {{end}}</Invoice>
