<wcf:GetNumberingRange>
    <wcf:accountCode>{{.AccountCode}}</wcf:accountCode>
    <wcf:accountCodeT>{{.AccountCodeT}}</wcf:accountCodeT>
    <wcf:softwareCode>{{.SoftwareCode}}</wcf:softwareCode>
</wcf:GetNumberingRange>
