<?xml version="1.0" encoding="utf-8" standalone="no"?>
<Invoice
  xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
  xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
  xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
  xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
  xmlns:sts="dian:gov:co:facturaelectronica:Structures-2-1"
  xmlns:xades="http://uri.etsi.org/01903/v1.3.2#"
  xmlns:xades141="http://uri.etsi.org/01903/v1.4.1#"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2 http://docs.oasis-open.org/ubl/os-UBL-2.1/xsd/maindoc/UBL-Invoice-2.1.xsd">
  <ext:UBLExtensions>
    {{template "dian_extensions" .}}
  </ext:UBLExtensions>
  <cbc:UBLVersionID>UBL 2.1</cbc:UBLVersionID>
  <cbc:CustomizationID>10</cbc:CustomizationID>
  <cbc:ProfileID>DIAN 2.1: Factura Electrónica de Venta</cbc:ProfileID>
  <cbc:ProfileExecutionID>{{.ProfileExecutionID}}</cbc:ProfileExecutionID>
  <cbc:ID>{{.InvoiceNumber}}</cbc:ID>
  <cbc:UUID schemeID="{{.Environment}}" schemeName="CUFE-SHA384">{{.CUFE}}</cbc:UUID>
  <cbc:IssueDate>{{.IssueDate}}</cbc:IssueDate>
  <cbc:IssueTime>{{.IssueTime}}</cbc:IssueTime>
  {{if .DueDate}}<cbc:DueDate>{{.DueDate}}</cbc:DueDate>{{end}}
  <cbc:InvoiceTypeCode>{{.InvoiceTypeCode}}</cbc:InvoiceTypeCode>
  {{range .Notes}}<cbc:Note>{{.}}</cbc:Note>{{end}}
  <cbc:DocumentCurrencyCode
    listID="ISO 4217 Alpha"
    listAgencyID="6"
    listAgencyName="United Nations Economic Commission for Europe">{{.CurrencyCode}}</cbc:DocumentCurrencyCode>
  <cbc:LineCountNumeric>{{.LineCount}}</cbc:LineCountNumeric>
  {{if .InvoicePeriod}}
  <cac:InvoicePeriod>
    <cbc:StartDate>{{.InvoicePeriod.StartDate}}</cbc:StartDate>
    <cbc:EndDate>{{.InvoicePeriod.EndDate}}</cbc:EndDate>
  </cac:InvoicePeriod>
  {{end}}
  {{if .OrderReference}}
  <cac:OrderReference>
    <cbc:ID>{{.OrderReference.ID}}</cbc:ID>
  </cac:OrderReference>
  {{end}}
  {{template "supplier" .Supplier}}
  {{template "customer" .Customer}}
  {{if .Delivery}}{{template "delivery" .Delivery}}{{end}}
  {{range .PaymentMeans}}
  <cac:PaymentMeans>
    <cbc:ID>{{.ID}}</cbc:ID>
    <cbc:PaymentMeansCode>{{.Code}}</cbc:PaymentMeansCode>
    {{if .DueDate}}<cbc:PaymentDueDate>{{.DueDate}}</cbc:PaymentDueDate>{{end}}
  </cac:PaymentMeans>
  {{end}}
  {{if .PrepaidPayment}}
  <cac:PrepaidPayment>
    <cbc:PaidAmount currencyID="{{.CurrencyCode}}">{{.PrepaidPayment.Amount}}</cbc:PaidAmount>
  </cac:PrepaidPayment>
  {{end}}
  {{range .AllowanceCharges}}{{template "allowance_charge" .}}{{end}}
  {{range .TaxTotals}}{{template "tax_total" .}}{{end}}
  {{range .WithholdingTaxTotals}}{{template "tax_total" .}}{{end}}
  <cac:LegalMonetaryTotal>
    <cbc:LineExtensionAmount currencyID="{{.CurrencyCode}}">{{.LineExtensionAmount}}</cbc:LineExtensionAmount>
    <cbc:TaxExclusiveAmount currencyID="{{.CurrencyCode}}">{{.TaxExclusiveAmount}}</cbc:TaxExclusiveAmount>
    <cbc:TaxInclusiveAmount currencyID="{{.CurrencyCode}}">{{.TaxInclusiveAmount}}</cbc:TaxInclusiveAmount>
    {{if .AllowanceTotalAmount}}<cbc:AllowanceTotalAmount currencyID="{{.CurrencyCode}}">{{.AllowanceTotalAmount}}</cbc:AllowanceTotalAmount>{{end}}
    {{if .ChargeTotalAmount}}<cbc:ChargeTotalAmount currencyID="{{.CurrencyCode}}">{{.ChargeTotalAmount}}</cbc:ChargeTotalAmount>{{end}}
    {{if .PrepaidAmount}}<cbc:PrepaidAmount currencyID="{{.CurrencyCode}}">{{.PrepaidAmount}}</cbc:PrepaidAmount>{{end}}
    <cbc:PayableAmount currencyID="{{.CurrencyCode}}">{{.PayableAmount}}</cbc:PayableAmount>
  </cac:LegalMonetaryTotal>
  {{range .InvoiceLines}}{{template "invoice_line" .}}{{end}}
</Invoice>
