{{define "tax_total"}}
<cac:TaxTotal>
    <cbc:TaxAmount currencyID="{{.CurrencyID}}">{{.TaxAmount}}</cbc:TaxAmount>
    {{range .TaxSubtotals}}
    <cac:TaxSubtotal>
        <cbc:TaxableAmount currencyID="{{.CurrencyID}}">{{.TaxableAmount}}</cbc:TaxableAmount>
        <cbc:TaxAmount currencyID="{{.CurrencyID}}">{{.TaxAmount}}</cbc:TaxAmount>
        <cac:TaxCategory>
            <cbc:Percent>{{.Percent}}</cbc:Percent>
            <cac:TaxScheme>
                <cbc:ID>{{.TaxCategory.TaxScheme.ID}}</cbc:ID>
                <cbc:Name>{{.TaxCategory.TaxScheme.Name}}</cbc:Name>
            </cac:TaxScheme>
        </cac:TaxCategory>
    </cac:TaxSubtotal>
    {{end}}
</cac:TaxTotal>
{{end}}
